{% extends 'LazyBlogBundle::layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block sidebar %}

    <aside>
        <h3>{{ 'user' | trans }}</h3>

        <p class="post-body">
            <a href="{{ path('lazyblog_lazyblog_user_show', { slug: post.user.slug }) }}" title="{{ 'post' | trans({ '%name%' : post.user.name }) }}"></a>
            {{ post.user.name }}
        </p>
    </aside>

{% endblock %}

{% block section %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>
            <p class="post">
                {{ 'post.on' | trans }} <time datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | date }}</time>
            </p>
        </header>

        <p class="post-body">{{ post.body }}</p>

    </article>
{% endblock %}
