{% extends "LazyBlogBundle::layout.html.twig" %}
123

{#{% block title %}{{ 'tag' | trans }}{% endblock %}#}

{#{% block body %}#}
{#{% endblock %}#}

{#{% block sidebar %}#}
    {#<header>#}
        {#<h3>Tag Cloud</h3>#}
    {#</header>#}
    {#<p class="tags">#}
        {#{% for tag, weight in tags %}#}
        {#{% if post.tags is not empty %}#}
        {#<span>{{ post.tag }}</span>#}
        {#<span>{{ post.weight }}</span>#}
        {#{% else %}#}
    {#<p>There are no tags</p>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#</p>#}

{#{% endblock %}#}


{#&#123;&#35;<section class="section">&#35;&#125;#}
    {#<header>#}
        {#<h3>Tag Cloud</h3>#}
    {#</header>#}
    {#<p class="tags">#}
        {#{% for tag, weight in tags %}#}
        {#{% if post.tags is not empty %}#}
        {#<span>{{ post.tag }}</span>#}
        {#<span>{{ post.weight }}</span>#}
        {#{% else %}#}
    {#<p>There are no tags</p>#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#</p>#}
{#&#123;&#35;</section>&#35;&#125;#}